[Unit]
Description=Python program hosting process
After=network.target 

[Service]
Type=forking
PIDFile=/opt/supervisor/supervisord.pid
ExecStart=/usr/bin/supervisord -c /opt/supervisor/supervisord.conf
ExecReload=/usr/bin/supervisorctl reread 
ExecStop=/usr/bin/supervisorctl shutdown

[Install]
WantedBy=multi-user.target
